{{ define "main" }}
{{ if or (eq .Type "blog") (eq .Type "weeknotes") }}{{ if not .Params.menu }}
<article class="single">
<h1>{{ .Title }}</h1>
<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
  </i>
</p>
{{ end }}{{ end }}
<div class="content">
    {{ .Content }}
</div>
<p>
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>

{{- /* Breadcrumb JSON-LD for better structure understanding */ -}}
{{ if .IsPage }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": {{ .Site.BaseURL | jsonify }}
    },
    {
      "@type": "ListItem",
      "position": 2,
      "name": {{ .Type | title | jsonify }},
      "item": {{ printf "%s%s/" .Site.BaseURL .Type | jsonify }}
    },
    {
      "@type": "ListItem",
      "position": 3,
      "name": {{ .Title | jsonify }},
      "item": {{ .Permalink | jsonify }}
    }
  ]
}
</script>
{{ end }}
</article>
{{ end }}
