<!-- allow us to reference assets in posts like so:
    ![alt](assets/path-to-file.png) -->
<base href="{{ .Site.BaseURL }}">

<!-- this file is located in /static
     so we can just refer to its path easily -->
<link rel="stylesheet" href="main.css">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">

{{ with .OutputFormats.Get "rss" }}
    {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebPage",
      "headline": "{{ .Title }}",
      "url": "{{ .Permalink }}",
      "description": "{{ .Params.description }}",
      "publisher": {
        "@type": "Person",
        "name": {{ $.Site.Params.Author }},
        "url": {{ .Site.BaseURL }},
        "image": {
          "@type": "ImageObject",
          "url": "{{ .Site.Params.logo }}"
        }
      }
    }
    </script>

    <!-- Cloudflare Web Analytics -->
     <script defer src='https://static.cloudflareinsights.com/beacon.min.js' 
     data-cf-beacon='{"token": "dbdcfc9895e340f8a4e734b917d51280"}'>
    </script><!-- End Cloudflare Web Analytics -->

    <!-- GoatCounter Web Analytics -->
    <script data-goatcounter="https://deptoolkit.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
