<!-- allow us to reference assets in posts like so:
    ![alt](assets/path-to-file.png) -->
<base href="{{ .Site.BaseURL }}">

<!-- this file is located in /static
     so we can just refer to its path easily -->
<link rel="stylesheet" href="main.css">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet"> 


<!-- Matomo -->
<!-- <script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://analytics.basilesimon.fr/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script> -->
<!-- End Matomo Code -->

<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
<!-- <script>
(function(f, a, t, h, o, m){
	a[h]=a[h]||function(){
		(a[h].q=a[h].q||[]).push(arguments)
	};
	o=f.createElement('script'),
	m=f.getElementsByTagName('script')[0];
	o.async=1; o.src=t; o.id='fathom-script';
	m.parentNode.insertBefore(o,m)
})(document, window, '//fathom.basilesimon.fr/tracker.js', 'fathom');
fathom('set', 'siteId', 'CHIBG');
fathom('trackPageview');
</script> -->
<!-- / Fathom -->
