{{ define "main" }}
<main role="main">
  <div class="homepage-content">
    {{ with $.Site.Data.homepage }}
    <section>
      <p>{{ .catchline | markdownify }}</p>

      <h3>📬 Contact</h3>
      <ul>
        {{ range .contact }}
        <li>{{ . | markdownify }}</li>
        {{ end }}
      </ul>
      <hr />
      <h2>/now</h2>
      <p>{{ .now | markdownify }}</p>
    </section>

    <div class="wide-80">
      <div class="now">
        {{ range .now_list }}
        <div class="item">
          {{ if .img }}
          <div style="display: flex; align-items: center; gap: 0.5rem;">
            <img
              loading="lazy"
              src="{{ .img }}"
              style="width: 200px; object-fit: contain; height: auto"
            />
            {{ if .img_suffix }}<span style="font-style: italic; color: #6c6c6c;">{{ .img_suffix }}</span>{{ end }}
          </div>
          {{ end }} {{ if .title }}
          <h4>{{ .title }}</h4>
          {{ end }}
          <p>{{ .desc | markdownify }}</p>
        </div>
        {{ end }}
      </div>
    </div>

    <section>
      <hr />
      <h2>👔 Past employment</h2>
      <p>{{ .past_employment | markdownify }}</p>

      <ul>
        {{ range .past_employment_jobs }}
        <li>{{ . | markdownify }}</li>
        {{ end }}
      </ul>

      <p>
        I also co-founded <b>Airwars</b>, a non-profit monitoring organisation
        exposing the harm done to civilians by air conflicts. I now advise the
        organisation as advisory board member on a range of topics including
        technical architecture, security, and preservation of the archive.
      </p>
      {{ end }}

      <hr />
    </section>

    {{ with $.Site.Data.reel }}
    <div class="wide-80">
      <h2>Portfolio</h2>
      {{ range $index, $data := .pieces }} {{ partial "item.html" (dict "index"
      $index "data" $data) }} {{ end }}
    </div>
    {{ end }}
    <!-- {{ with $.Site.Data.reelgrid }}
    <div class="portfolio-grid">
      {{ range $index, $data := .items }} {{ partial "item-grid.html" (dict
      "index" $index "data" $data) }} {{ end }}
    </div>
    {{ end }} -->

    <section>
      <hr />
      <h2>Open source work</h2>
      <p>Fortunately I was able to open-source some of the work I have done:</p>
    </section>
    <div class="open-source">
      {{ with $.Site.Data.opensource }} {{ range .projects }} {{ partial
      "card.html" .}} {{ end }} {{ end }}
    </div>

    <section>
      <hr />

      <h2>🎓 Academic work</h2>
      <p>
        Since early 2024, I have been a
        <b>Fellow with Stanford Electrical Engineering</b>
        professor Tsachy Weissman, pursuing original research in respectful
        sharing mechanisms of strongly-authenticated digital evidence and
        verification tools between civil society organisations and UN
        mechanisms.
      </p>
      <p>
        I guest lecture at Stanford during the Spring Quarter, as part of the
        EE292J class: Designing for Authenticity.
      </p>
      <p>
        Before I joined Stanford,
        <b
          >I had the privilege of teaching the Advanced Data and Coding
          module</b
        >
        on the MA in Interactive Journalism course at
        <b>City University London</b>. We ran through an introduction to
        programming, statistical methods, R data analysis and modelling with
        ggplot.<br />
        My teaching notes are
        <a href="https://github.com/basilesimon/interactive-journalism-module"
          >available on Github</a
        >.
      </p>

      <p><b>Degrees, etc.:</b></p>
      <ul>
        <li>
          Law Enforcement Video Association - Expert Witness Courtroom Testimony
          course
        </li>
        <li>
          Master of Arts in Multimedia Journalism - Univ. of Westminster (UK)
        </li>
        <li>
          Masters in Political Science and Sociology - High European Studies
          Institute (France)
        </li>
        <li>
          BA Private Law, minor Political Science - Univ. Lyon III (France)
        </li>
      </ul>

      {{ with $.Site.Data.homepage }}
      <h2>🏅 Awards</h2>
      <div
        class="awards-container"
        style="display: flex; gap: 20px; flex-wrap: wrap"
      >
        {{ range .awards }}
        <div
          class="award-card"
          style="
            {{ if .misc }}width: 100%;{{ else }}flex: 1; min-width: 300px;{{ end }}
            border: 1px solid #ddd;
            padding: 10px;
            border-radius: 5px;
          "
        >
          <h4 style="margin: 0">{{ .org }}</h4>
          <span style="margin: 0">{{ .award }}</span>
          <ul>
            {{ range .pieces }}
            <li>{{ if .url }}<a href="{{ .url }}">{{ .title }}</a>{{ else }}{{ .title }}{{ end }}</li>
            {{ end }}
          </ul>
        </div>
        {{ end }}
      </div>

      {{ end }}
    </section>

    <div class="wide-80">
      {{ with $.Site.Data.homepage }}
      <h2>🎙 Talks, publications, and references</h2>
      <div style="display: flex; gap: 2rem; flex-wrap: wrap;">
        <div style="flex: 1; min-width: 250px;">
          <h3>📚 References</h3>
          <ul>
            {{ range .references }}
            <li>
              "{{ .title | markdownify }}"<br />
              <em style="color: #6c6c6c">{{ .location | markdownify }}</em>
            </li>
            {{ end }}
          </ul>
        </div>
        <div style="flex: 1; min-width: 250px;">
          <h3>🎙 Talks</h3>
          <ul>
            {{ range .talks }}
            <li>
              "{{ .title | markdownify }}"<br />
              <em style="color: #6c6c6c">{{ .location | markdownify }}</em>
            </li>
            {{ end }}
          </ul>
        </div>
        <div style="flex: 1; min-width: 250px;">
          <h3>📝 Publications</h3>
          <ul>
            {{ range .publications }}
            <li>
              "{{ .title | markdownify }}"<br />
              <em style="color: #6c6c6c">{{ .location | markdownify }}</em>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ end }}
    </div>

    <section>
    </section>

    <!-- pull from content/_index.md -->
    <!-- {{.Content}} -->
  </div>
</main>
{{ end }}
