:root {
    --highlight:  #bf616a;
}
body {
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    color: #444;
}
code {
    font-family: "Ubuntu Mono"
}
hr {
    border-top: 1px solid #ddd;
}
code {
    color: var(--highlight);
}
